<%- include('partials/header') %>
    <h1>This is <%= title %>.</h1>
    <p>
        <%= nombre %>
    </p>

    <!-- Ejecuci칩n de javascript -->
    <%= new Date() %>

    <!-- Bloques condicionales con EJS -->
    <% if(isActive) { %>
        <p>El sservidor est치 activo</p>
    <% } else { %>
        <p>El sservidor est치 inactivo</p>
    <% } %>        

    <!-- Iteraciones -->
    <ul>
        <% for (let i = 0; i < users.length; i++) { %>
            <li><%= users[i].name %>, <%= users[i].age %> a침os</li>
        <% } %>
    </ul>

    
<%- include('partials/footer') %>
